/*! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*? COLOR PALETTE */
:root {
    --blue: #0061FF;
    --light-blue: #B4D0E7;
    --desit-green:#A2D39B;
    --desit-light-green:#D1E9CD;
    --uf-blu: #0093CE;
    --asu-red: #61082B;
    --topps-red: #FF1C1C;
    --desit-grey: #F5F5F5;
    --wbr-red: #D5001F;
    --lp-blue: #0D2481;
    --hc-blue: #B4D0E7;
    --cc-yellow: #FFD830;
}
/*? GENERICS */
h1 {
    font-size: 5em;
    font-weight: 800;
    padding-bottom: 14px;
}
h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding: 36px 0;
}
/*? UTILS */
.bg-light-blue {
    background-color: var(--light-blue);
}
.big-container {
    max-width: 1225px;
    flex: 1 0 1225px;
    margin: 0 auto;
}
.small-container{
    max-width: 1000px;
    flex: 1 0 1000px;
    margin: 0 auto;
}
.big-col {
    border: 2px dashed blue;
    flex: 0 0 820px;
    height: 428px;
}
.small-col {
    border: 2px dashed blue;
    flex: 0 0 387px;
    height: 428px;
}
.flex {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.jc-start {
    justify-content: start;
}
.jc-end {
    justify-content: end;
}
.jc-btwn {
    justify-content: space-between;
}
.jc-stretch {
    justify-content: stretch;
}
.ai-center {
    align-items: center;
}
.ai-start {
    align-items: flex-start;
}
.ai-end {
    align-items: flex-end;
}
.ai-stretch {
    align-items: stretch;
}
.wrap {
    flex-wrap: wrap;
}
/** HEADER */
header.navbar {
    background-color:white;
    height: 80px;
}
header.navbar > .col {
    border: 2px dashed black;
    flex-basis: 600px;
    align-self: stretch;
}
/** JUMBOTRON */
.jumbotron {
    background-color: var(--light-blue);
    height: 740px;
}
.jum-content {
    border: 2px dashed black;
    height:662px;
}
/** MAIN */
main {
    padding-bottom: 200px;
}
section.small-container > div:first-child {
    border: 2px dashed green;
    margin-top: 135px;
}
.fattura {
    display: inline-block;
    padding:0 50px 30px 0;
}
.trial {
    border: 2px dashed green;
    height: 1025px;
}
div.trial > .col {
    border: 2px dashed blue;
    flex: 0 1 300px;
    height: 955px;
}
div.trial .member {
    text-align: center;
}
.lil-title {
    text-align: center;
}
.double-col {
    border: 2px dashed green;
    min-height: 217px;
}
.double-col > div:first-child {
    border: 2px dashed blue;
    flex: 1 0 650px;
}
.double-col > div:last-child {
    border: 2px dashed blue;
    flex: 0 1 350px;
}
.space-n-title {
    border: 2px dashed green;
    padding: 50px 0;
}
.db-business {
    border: 2px dashed green;
    min-height: 1052px;
}

.db-business > div {
    border: 2px dashed blue;
    flex: 0 1 calc(100% / 3);
    min-height: 526px;
}
.info-clients {
    border: 2px dashed green;
    min-height: 293px;
}

.info-clients > a {
    display: block;
    margin: 22px 0 130px;
}
/** PORTFOLIO CLIENTS */
.portfolio-clients {
    border: 2px dashed red;
    min-height: 636px;
}
.portfolio-clients > div {
    border: 2px dashed black;
    flex: 0 1 calc(100% /3)
}
.clients > div {
    border: 2px dashed blue;
    flex: 0 1 calc(100% / 2);
}
/** FREE TRIAL */
.bg-light-blue > div {
    min-height: 360px;
}

/** FREQUENT QUESTIONS */
.frq-quest > div {
    border: 2px dashed green;
    min-height: 105px;
}