/*! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*? COLOR PALETTE */
:root {
    --blue: #0061FF;
    --light-blue: #B4D0E7;
    --desit-green:#A2D39B;
    --desit-light-green:#D1E9CD;
    --uf-blu: #0093CE;
    --asu-red: #61082B;
    --topps-red: #FF1C1C;
    --desit-grey: #F5F5F5;
    --wbr-red: #D5001F;
    --lp-blue: #0D2481;
    --hc-blue: #B4D0E7;
    --cc-yellow: #FFD830;
    --custom-grey: #D0D0D3;
}
/*? GENERICS */
h1 {
    font-size: 5em;
    font-weight: 800;
    padding-bottom: 14px;
}
h2 {
    font-size: 2.5em;
    font-weight: 700;
    padding: 36px 0;
}
h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
p {
    padding: 40px 0;
}
.client-portfolio p {
    padding: 0;
    margin-bottom: 40px;
}
li {
    list-style: none;
}
footer li {
    padding: 10px 0;
}
a {
    text-decoration: none;
    color: black;
}
a.u-line {
    text-decoration: underline;
    color:blue;
}
footer a {
    color: white;
}
img {
    max-width: 100%;
    display: block;
}
/*? UTILS */
.mt-50 {
    margin-top: 50px;
}
.mt-40 {
    margin-top: 40px;
}
.ml-50 {
    margin-left: 50px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-5 {
    margin-left: 5px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-5 {
    margin-right: 5px;
}
.pt-30 {
    padding-top: 30px;
}
.pr-20 {
    padding-right: 5px;
}
.pb-60 {
    padding-bottom: 60px;
}
.bg-light-blue {
    background-color: var(--light-blue);
}
.c-grey {
    color: grey;
}
.big-container {
    max-width: 1225px;
    flex: 0 1 1225px;
    margin: 0 auto;
}
.small-container{
    max-width: 1000px;
    flex: 0 1 1000px;
    margin: 0 auto;
}
.col-70 {
    flex: 0 0 70%;
    height: 428px;
}
.col-50 {
    flex: 0 0 50%;
}
.col-30 {
    flex: 0 0 30%;
    height: 428px;
}
.btn {
    display: inline-block;
    background-color: var(--blue);
    color: white;
    padding: 10px 15px;
}
header nav a.btn {
    padding: 6px 15px;
}
.b-white {
    background-color: white;
    color: black;
}
.circle {
    height: 18px;
    width: 18px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 0px 6px 0 0;
}
.brdr-black {
    border: 1px solid black;
}
.brdr-blue {
    border: 5px solid var(--blue);
}
.brdr-grey {
    border: 1px solid var(--custom-grey);
}
.line {
    width: 100px;
    margin: 45px 0;
    border-bottom: 1px solid var(--custom-grey);
}
.small {
    width: 50px;
}
.flex {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.jc-start {
    justify-content: start;
}
.jc-end {
    justify-content: end;
}
.jc-btwn {
    justify-content: space-between;
}
.jc-stretch {
    justify-content: stretch;
}
.ai-center {
    align-items: center;
}
.ai-start {
    align-items: flex-start;
}
.ai-end {
    align-items: flex-end;
}
.ai-stretch {
    align-items: stretch;
}
.wrap {
    flex-wrap: wrap;
}
/* ? UTILS FONT-AWESOME */
.fa-check {
    color: var(--blue);
}
/** HEADER */
header.navbar {
    background-color:white;
    height: 80px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    box-shadow: 1px 1px 2px lightgrey;
}
header.navbar > .col {
    flex: 0 1 600px;
    align-self: stretch;
}
header li {
    padding: 0 22px;
    font-weight: 400;
}
/** JUMBOTRON */
.jumbotron {
    background-color: var(--light-blue);
    min-height: 740px;
    margin-top: 80px;
}
.jum-content {
    min-height:662px;
}
/** MAIN */
main {
    padding-bottom: 200px;
}
section.small-container > div:first-child {
    margin-top: 135px;
}
.fattura {
    padding:0 50px 30px 0;
}
/* TRIAL CONTENT */
.trial {
    height: 1025px;
}
div.trial > .col {
    border: 1px solid var(--custom-grey);
    flex: 0 1 300px;
    height: 955px;
}
main .member {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--custom-grey);
}
.trial .col section li {
    margin-bottom: 10px;
}
.lil-title {
    text-align: center;
}
.double-col {
    min-height: 217px;
}
.double-col > div:first-child {
    flex: 1 0 650px;
}
.double-col > div:last-child {
    flex: 0 1 350px;
}
.space-n-title {
    padding: 50px 0;
}
/* DROPBOX BUSINESS */
.db-business p {
    padding: 0 36px 0 0;
}
.db-business {
    min-height: 1052px;
}
.db-business > div {
    flex: 0 1 calc(100% / 3);
    min-height: 526px;
}
.info-clients {
    min-height: 293px;
}
.info-clients > a {
    display: block;
    margin: 22px 0 130px;
}
/* CLIENT PORTFOLIO */
.client-portfolio {
    min-height: 636px;
}
.client-portfolio > div {
    flex: 0 1 calc(100% /3)
}
.client > div {
    flex: 0 0 calc(100% / 2);
    height: 50%;
}
#designit {
    background-color: var(--desit-green);
}
#asu {
    background-color: var(--asu-red);
}
#uf {
    background-color: var(--uf-blu);
}
#topps {
    background-color: var(--topps-red);
}
.client img {
    width: 50%;
    filter: invert();
}
#world {
    background-color: var(--wbr-red);
}
#hearst {
    background-color: var(--hc-blue);
}
#lonely-planet {
    background-color: var(--lp-blue);
}
#clear-channel {
    background-color: var(--cc-yellow);
}
/* FREE TRIAL */
.bg-light-blue > div {
    color: var(--asu-red);
    min-height: 360px;
}
/* FREQUENT QUESTIONS */
.frq-quest > div {
    border-top: 2px solid var(--custom-grey);
    padding: 50px 0;
    min-height: 105px;
}
.frq-quest > div:last-child {
    border-bottom: 2px solid var(--custom-grey);
}
/* *FOOTER */
footer {
    background-color: black;
    color: white;
    min-height: 570px;
}
footer div.big-container > div {
    flex: 1 0 calc(100% / 5);
    min-height: 450px;
}
footer div:last-child {
    min-height: 124px;
}
footer span {
    display: inline-block;
    color: var(--custom-grey);
    padding: 20px 0;
    cursor: pointer;
}